@import url("https://use.typekit.net/qkg7lgm.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: timonium, sans-serif;
  font-weight: 500;
  font-style: normal;
  background: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

body:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(218, 190, 91, 0.4);
}

h1, h2, h3, a, button {
  font-family: timonium, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.fa-solid {
  float: right;
  z-index: 2;
  cursor: pointer;
}

.fa-solid:hover {
  color: #A421A6;
}

section {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
}

section h1 {
  position: relative;
  display: inline-block;
  padding: 0.4rem 2rem;
  font-size: 48px;
  background: rgba(218, 190, 91, 0.8);
  color: #A421A6;
  cursor: pointer;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 90vw;
  padding-bottom: 3rem;
}

section .container .bookmark {
  background: rgba(218, 190, 91, 0.8);
  padding: 1rem 1rem 1.5rem 1.5rem;
  margin: 2rem;
}

section .container .bookmark .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

section .container .bookmark .name img {
  max-width: 25px;
}

section .container .bookmark .name a {
  font-size: 24px;
  padding: 0.2rem;
  color: #fff;
}

section .container .bookmark .name a:visited {
  color: #fff;
}

section .container .bookmark .name a:hover {
  color: #A421A6;
}

section .modal-container {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(10, 7, 89, 0.6);
  -webkit-animation: modalopen 1s;
          animation: modalopen 1s;
}

section .modal-container .modal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #A421A6;
  padding: 1rem 2rem;
  background: rgba(218, 190, 91, 0.8);
  text-align: left;
}

section .modal-container .modal .close-icon {
  text-align: right;
  font-size: 24px;
}

section .modal-container .modal .modal-header {
  font-size: 20px;
}

section .modal-container .modal .modal-content .bookmark-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
}

section .modal-container .modal .modal-content .bookmark-form .form-group .form-label {
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

section .modal-container .modal .modal-content .bookmark-form .form-group .form-input {
  border: 1px solid #A421A6;
  border-radius: 5px;
  height: 30px;
  min-width: 200px;
}

section .modal-container .modal .modal-content .bookmark-form button {
  margin-top: 1rem;
  display: block !important;
  width: 100% !important;
  color: #fff;
  background-color: #A421A6;
  padding: 0.2rem;
  cursor: pointer;
  border: 1px solid #A421A6;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .modal-container .modal .modal-content .bookmark-form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Keyframes*/
@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mobile Version */
@media only screen and (max-width: 600px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */